.header {
    grid-area: h;
    background-color: rgb(190, 113, 113);
}
    .img {
        width: 60px;
    }

    .loginBlock {
        float: right;
        padding: 5px;
    }
    .loginBlock>a {
        color: rgb(0, 0, 0);
        font-weight: bold;
    }
    .loginBlock:hover{
        background-color: rgb(180, 103, 103);
        box-shadow: 2px 2px 10px 2px rgb(180, 103, 103);
     
    }