

.selectedPage {
    font-weight: bold;
}

.pageNumber {
    cursor: pointer;
    margin: 5px;
}
.pageNumber:hover {
    background-color: rgb(235, 235, 235);
    box-shadow: 2px 2px 10px 2px rgb(225, 225, 225);
}

.paginator {    
    margin-bottom: 15px;
    display: flex;
}
.button {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    /* Spacing */
    padding: 1px;
    margin: 5px;
}

.buttonArrow {
    /* Transparent background */
    background-color: transparent;

    /* Size */
    height: 10px;
    width: 10px;
}

.buttonArrowLeft {
    /* Edges */
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    transform: translateX(50%) rotate(45deg);
}

.buttonArrowRight {
    /* Edges */
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    transform: translateX(-25%) rotate(45deg);
}