

.selectedPage {
    font-weight: bold;
}

.pageNumber {
    cursor: pointer;
    margin: 5px;
}
.pageNumber:hover {
    background-color: rgb(235, 235, 235);
    box-shadow: 2px 2px 10px 2px rgb(225, 225, 225);
}

.paginator {    
    margin-bottom: 15px;
    display: flex;
}
.button {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    /* Spacing */
    padding: 1px;
    margin: 5px;
    border: none;
}

.buttonArrow {
    border-style: solid;
    height: 0px;
    width: 0px;
   
}

.buttonArrowLeft {
    border-color: transparent rgba(0, 0, 0, 0.3) transparent transparent;
    border-width: 8px 8px 8px 0px;
}

.buttonArrowRight {
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.3);
    border-width: 8px 0px 8px 8px;
}