.app-wrapper {
    display: grid;

    grid-template-areas: "h h"
    "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 1em;

}

.app-wrapper-content {
    grid-area: c; 
    background-color: rgb(245, 245, 245);
    box-shadow: 2px 2px 10px 2px rgb(235, 235, 235);
}