.photoUrl {
    width: 70px; 
    height: 70px;
}

.selectedPage {
    font-weight: bold;
}

.pageNumber {
    cursor: pointer;
    margin: 5px;
}
.pageNumber:hover {
    background-color: rgb(235, 235, 235);
    box-shadow: 2px 2px 10px 2px rgb(225, 225, 225);
}

.paginator {
    min-width: 100px;
    width: 70vw;
    overflow-x: scroll;
    margin-bottom: 15px;

}
.userContainer {
    display: grid;
    grid-template-columns: 70px 1fr 1fr;
    grid-template-rows: 80px;

    grid-template-areas: "usericon username follow";
    grid-gap: 15px;
    align-items: center;
    /* background-color:rgb(245, 245, 245); */
    box-shadow: 0 4px 8px 0 rgb(225, 225, 225);
}
.userContainer:hover {
    box-shadow: 0 8px 16px 0 rgb(215, 215, 215);
}

    .followBTN{
        grid-area: follow; 
        -ms-grid-column-align: center;
        
        justify-items: center;
       
    }
    .userIcon {
        grid-area: usericon; 
    }
    .userName {
        grid-area: username;
        /* display: grid; */
        /* grid-template-columns: minmax(50px, 4fr) minmax(50px, 4fr) minmax(50px, 4fr); */

    }