.messages {
    grid-template-areas: "l r";
    grid-template-columns: 50% 50%;
}
.message {
    display: grid;
    
}

.messageAlignLeft {
    grid-area: l; 
    align-items: start;
    justify-items: start;
    padding-right: 25%;
    
}

.messageAlignRight {
    grid-area: r; 
    align-items: end;
    justify-items: end;
    padding-left: 25%;
   
}

.logo {
        /* background-image: url(./user1.png); */
        width: 25px;
        height: 25px;
        background-size: 25px;
}

.author {
    font-size: 11px;
    padding: 0px 0px 5px 0px;
    height: 15px;
    opacity: 0;
    
}
.authorHovered {
    opacity: 1 !important;
}

.author {

}

.messageCloud {
    padding: 10px;
    border-radius: 10px;
    word-break: break-all;
}

.blueCloud {
    background-color: rgb(145, 173, 209);
    border-radius: 10px 10px 10px 0px;

}

.greenCloud {
    background-color: rgb(177, 209, 145);
    border-radius: 10px 10px 0px 10px;
}