.content {
    grid-area: c; 
    background-color: rgb(137, 150, 209);
    background-image: url(../bck-image.jpg);

}
    .content .bck-image {
        margin: auto;
        width: 100%;
        height: 100px;
    }
    .content .user-logo {
        background-image: url(../user-logo.png);
    }

.item {
    
}